In [1]:
import pandas as pd
import numpy as np
import os
import librosa

In [7]:
import glob

os.chdir(r'C:\Users\maxia\Desktop\Facultad\Labo de acústica\Codigo\3_audios_test')

audio_test = []

for dir in glob.iglob('common*', recursive=True):
    audio_test.append(dir.split('.npy')[0] + '.mp3')

print(len(audio_test))
print(audio_test[0])

1048
common_voice_es_18309707.mp3

In [5]:
os.chdir(r'C:\Users\maxia\Desktop\Facultad\Labo de acústica\Codigo')

validados = pd.read_csv('validated.tsv', sep='\t')
validados.head()

,client_id,path,sentence,up_votes,down_votes,age,gender,accent,locale,segment
0,0003b969350f5308dc7347c574bc291834f38fdd92a286...,common_voice_es_19698530.mp3,Habita en aguas poco profundas y rocosas.,2,1,thirties,male,mexicano,es,NaN
1,009891ef9a0c11e1b21a9d8a8318c493382963c9eac3ab...,common_voice_es_19987333.mp3,Opera principalmente vuelos de cabotaje y regi...,2,1,NaN,NaN,NaN,es,NaN
2,00b0a5cf01f152b2b6771f16e34118a1d95e29716e4c86...,common_voice_es_19691402.mp3,Para visitar contactar primero con la dirección.,2,0,NaN,NaN,NaN,es,NaN
3,00be171a195e0dc92ceeb79da60907dff8eefa30ce68ba...,common_voice_es_22044222.mp3,tres,2,0,NaN,NaN,NaN,es,Benchmark
4,00de0234aec2cb4d2268ef5b5ba1d72d84ce36fa032096...,common_voice_es_19966634.mp3,"Realizó los estudios primarios en Francia, par...",2,1,NaN,NaN,NaN,es,NaN

In [9]:
audios_test = pd.DataFrame({'path': audio_test})
audios_test.head()

                           path
0  common_voice_es_18309707.mp3
1  common_voice_es_18309709.mp3
2  common_voice_es_18309711.mp3
3  common_voice_es_18330891.mp3
4  common_voice_es_18369864.mp3

In [10]:
audios = pd.merge(validados, audios_test, on="path")
audios.head()

,client_id,path,sentence,up_votes,down_votes,age,gender,accent,locale,segment
0,04735502177c9f39f7b682a94073171b2454de56336131...,common_voice_es_22000235.mp3,sí,2,1,twenties,male,NaN,es,Benchmark
1,1f8dda45bd7eb7a269c5afa64066cc58e1ed6a9a4f73f2...,common_voice_es_18825288.mp3,es Colombia.,2,1,twenties,male,NaN,es,NaN
2,2b8ff5ebdd3244d68d75e955f05f1a852ffbe7c5d6abda...,common_voice_es_22043788.mp3,sí,2,0,fifties,male,caribe,es,Benchmark
3,75e75a16bf18aed46da815ba370629a25297e70b95b916...,common_voice_es_21988507.mp3,siete,3,0,thirties,male,andino,es,Benchmark
4,c5b6929016d3e6d2a298b1943ead26edf403ce8303999f...,common_voice_es_21964599.mp3,dos,2,1,twenties,male,NaN,es,Benchmark

In [11]:
print(len(audio_test))
print(len(audios))

1048
1048

In [13]:
os.chdir(r'C:\Users\maxia\Desktop\Facultad\Labo de acústica\Codigo')

audios.to_excel("audios_para_el_test.xlsx")

In [14]:
import shutil

In [15]:
audios_para_el_test = pd.read_excel("audios_para_el_test.xlsx")
audios_para_el_test.head()

,path,sentence,up_votes,down_votes,age,gender,accent,locale
0,common_voice_es_19720169.mp3,"Es justo lo contrario"".",2,0,twenties,male,americacentral,es
1,common_voice_es_18562961.mp3,pero... te quiero .,2,0,thirties,male,NaN,es
2,common_voice_es_18943143.mp3,¡Cuánto tiempo sin verte!,2,0,thirties,male,rioplatense,es
3,common_voice_es_18571802.mp3,capítulo tres.,2,0,fourties,male,NaN,es
4,common_voice_es_18571804.mp3,chao. hasta luego .,2,0,fourties,male,NaN,es

In [17]:
audios_to_copy = audios_para_el_test['path'].tolist()

In [18]:
os.chdir(r'C:\Users\maxia\Desktop\Facultad\Labo de acústica\Codigo\3_audios_test')

path_to_copy ='C:/Users/maxia/Desktop/Facultad/Labo de acústica/Codigo/5_2_veo_que_onda'

i=0

for audio_valido in audios_to_copy:
    i+=1
    shutil.copy(audio_valido.split('.mp3')[0]+'.npy', path_to_copy)

    print(f'Se movieron {i} audios')

Se movieron 1 audios
Se movieron 2 audios
Se movieron 3 audios
Se movieron 4 audios
Se movieron 5 audios
Se movieron 6 audios
Se movieron 7 audios
Se movieron 8 audios
Se movieron 9 audios
Se movieron 10 audios
Se movieron 11 audios
Se movieron 12 audios
Se movieron 13 audios
Se movieron 14 audios
Se movieron 15 audios
Se movieron 16 audios
Se movieron 17 audios
Se movieron 18 audios
Se movieron 19 audios
Se movieron 20 audios
Se movieron 21 audios
Se movieron 22 audios
Se movieron 23 audios
Se movieron 24 audios
Se movieron 25 audios
Se movieron 26 audios
Se movieron 27 audios
Se movieron 28 audios
Se movieron 29 audios
Se movieron 30 audios
Se movieron 31 audios
Se movieron 32 audios
Se movieron 33 audios
Se movieron 34 audios
Se movieron 35 audios
Se movieron 36 audios
Se movieron 37 audios
Se movieron 38 audios
Se movieron 39 audios
Se movieron 40 audios
Se movieron 41 audios
Se movieron 42 audios